<!-- سوال تستی -->
<div class="question-container" data-question-id="{{ question.QuestionID }}" data-order="{{ question.Order }}">
    <div class="question-header">
        <span class="badge badge-primary">سوال تستی</span><span>|</span>
        <span class="question-number">سوال {{ question.order }}</span><span>|</span>
        <span class="score">نمره: {{ question.score }}</span>
    </div>
    
    <div class="question-body">
        <div class="question-text">
            {{ question.text|safe }}
        </div>
        
        {% if question.QuestionImage %}
            <div class="question-image">
                <img src="{{ question.image }}" alt="تصویر سوال" id="question-image">
            </div>
        {% endif %}
    </div>
    
    <form id="answer-form" action="{% url 'Answers:save_answer_m' question.id %}" novalidate autocomplete="off" data-question-type="mcq">
        {% csrf_token %}
        
        <div class="options-container">
            {% for option in form.selected_option_key.field.queryset %}
                <div class="option-item">
                    <input type="radio" 
                           name="{{ form.selected_option_key.name }}" 
                           value="{{ option.pk }}"
                           id="option_{{ option.pk }}"
                           {% if form.selected_option_key.value == option.pk %}checked{% endif %}>
                    <label for="option_{{ option.pk }}">
                        <strong>{{ option.OptionLabel }}</strong> {{ option.OptionText }}
                    </label>
                </div>
            {% endfor %}
        </div>
        
        <div class="form-actions">
            {% if not first_question %}
                <button type="button" class="btn" id="pre-question">
                    سوال قبلی
                </button>
            {% endif %}
            <button type="button" class="btn" id="save-answer">
                ذخیره پاسخ
            </button>
            
            <button type="button" class="btn btn-danger" id="clear-answer">حذف پاسخ</button>

            {% if not last_question %}
                <button type="button" class="btn" id="next-question">
                    سوال بعدی
                </button>
            {% endif %}
            <button type="button" class="btn" id="end-exam">
                پایان آزمون
            </button>
        </div>
    </form>
    
</div>